@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root body{
    font-family: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ======================================================================*/
/*                        INICIO HEADER  all pages                  */

.bg-welcome{
    background-color: #d9bb96 ;
    color: #152d35;
    font-weight: bold;
}

#menu a {
    font-weight: bold;
    color: #fff;
}

.fond-navbar{
    background-color:  #229797;
}

.img-logo {
    width: 250px;
}
/* FIN header */
/* ======================================================================*/


/* ======================================================================*/
/* INICIO Main "index"*/

.slide1 {
    background-image: url(../img/slide1.jpg);
}

.slide2 {
    background-image: url(../img/slide2.jpg);
}

.slide3 {
    background-image: url(../img/slide3.jpg);
}

.carousel-item{
    height: 30rem;
    background-position: center;
    background-size: cover;
}

/* FIN Main "index" */
/* ======================================================================*/


/* ======================================================================*/
/* INICIA Section (card) Index */
.card-img {
    width: 200px;
    border: solid 3px #d9bb96;

}

.sectionVN{
    min-height: 700px;
}

.card-imgs{
    background-color: #d9bb96;
}

.text-span{
    color: #229797;
}

section {
    background-color: #152d35;
    align-items: center;
}

/* FIN Section Index */
/* ======================================================================*/

/* ======================================================================*/
/* INICIA mi Footer */
footer{
    height: 100px;
    background-color: #229797;
    width: 100%;
}

.redes{
    color: white;
}

.ft{
    text-shadow: 2px 2px 3px rgb(68, 68, 68);
}

/* FIN Footer */
/* ======================================================================*/